@import "src/assets/_variables.scss";

:host {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  width: 100%;
}

.nav-panel {
  height: $nav-bar-height;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.13);
}
