<app-stat-card [name]="displayLabel? 'Current' : ''" [readOnly]="true" [value]="sumString"
               class="stat-card"></app-stat-card>
<app-label-card [name]="displayLabel? 'Name' : ''" class="label-card">{{name}}</app-label-card>
<app-stat-card (valueChange)="onBaseValueChange($event)" [name]="displayLabel? 'Base' : ''" [value]="base.toString()"
               class="stat-card"></app-stat-card>
<app-stat-card (valueChange)="onModValueChange($event)" [name]="displayLabel? 'Mod' : ''"
               [value]="modification.toString()" class="stat-card"></app-stat-card>
