@import "../../../../assets/variables";

:host {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  width: 100%;
}

.nav-panel {
  height: $nav-bar-height;
  background-color: #212121;
  display: flex;
  justify-content: center;
}

.link-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 500px;
}
