<div class="nav-panel">
  <div class="link-container">
    <a mat-icon-button routerLink="battle" routerLinkActive="primary-color">
      <mat-icon>shield</mat-icon>
    </a>
    <a mat-icon-button routerLink="skill" routerLinkActive="primary-color">
      <mat-icon>format_list_bulleted</mat-icon>
    </a>
    <a mat-icon-button routerLink="passive" routerLinkActive="primary-color">
      <mat-icon>bolt</mat-icon>
    </a>
    <a mat-icon-button routerLink="inventory" routerLinkActive="primary-color">
      <mat-icon>luggage</mat-icon>
    </a>
  </div>
</div>
