:host {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

.label-card {
  flex-grow: 1;

  .card {
    justify-content: start !important;
  }
}

.hit-card {
  width: 15%;
}

.dmg-card {
  width: 25%;
}
