<div mat-dialog-content>
  <p>Add a new ability.</p>
  <div class="input-container">
    <mat-form-field appearance="fill">
      <mat-label>Enter a name</mat-label>
      <input #input autofocus matInput type="text">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Enter a description</mat-label>
      <textarea #inputDesc matInput></textarea>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-dialog-close mat-raised-button>Cancel</button>
  <button [matDialogClose]="{name: input.value, description: inputDesc.value}" color="primary" mat-raised-button>Add</button>
</div>
