<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-toolbar>
      <h2>Menu</h2>
    </mat-toolbar>
    <mat-action-list>
      <button mat-list-item (click)="showRenamePrompt()">Rename Character</button>
      <button mat-list-item (click)="charService.exportCharacter()">Export to File</button>
      <button mat-list-item (click)="fileUpload.click()">Import from File</button>
      <input #fileUpload type="file" (change)="importCharacter($event.target)" />
      <a mat-list-item routerLink="/create">Create New</a>
    </mat-action-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <h2>{{charService.selectedChar.meta.name}}</h2>
      <span class="filler"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
      <app-nav-bar-spacer></app-nav-bar-spacer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-nav-bar></app-nav-bar>
