<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-toolbar>
      <h2>Menu</h2>
    </mat-toolbar>
    <mat-action-list>
      <button mat-list-item>Rename</button>
      <button mat-list-item>Export</button>
      <button mat-list-item>Create New</button>
    </mat-action-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <h2>{{charService.selectedChar.meta.name}}</h2>
      <span class="filler"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
      <app-nav-bar-spacer></app-nav-bar-spacer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-nav-bar></app-nav-bar>
