
html, body {
  height: 100dvh;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.headline {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  :nth-child(1) {
    flex-grow: 1;
  }
}

.content {
  margin: 0 auto;
  padding: 0 0.5rem;
  max-width: 500px;
}
