
html, body {
  height: 100dvh;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Hide the up and down arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  appearance: textfield;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.headline {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  :nth-child(1) {
    flex-grow: 1;
  }
}

.content {
  margin: 0 auto;
  padding: 0 0.5rem;
  max-width: 500px;
}
