

.logo-container {
  margin: 2rem;
  display: flex;
  justify-content: center;

  > img {
    width: 50%;
    filter: invert(88%) sepia(11%) saturate(7473%) hue-rotate(347deg) brightness(98%) contrast(109%) drop-shadow(0px 2px 1px #000000);
  }
}

button {
  width: 100%;
}
