<mat-toolbar><span>Imperial Notary</span></mat-toolbar>
<div class="content">
  <div class="logo-container primary-color">
    <img src="assets/icons/icon.svg">
  </div>
  <p>
    <button color="primary" *ngIf="charService.ownsCharacter" mat-raised-button [routerLink]="['char', 'battle']">Load Character</button>
  </p>
  <p>
    <button mat-raised-button [routerLink]="['create']">Create Character</button>
  </p>
  <p>
    <button mat-raised-button (click)="fileUpload.click()">Import from File</button>
    <input #fileUpload type="file" (change)="importCharacter($event.target)" style="display: none" />
  </p>
</div>
