<h3>Health</h3>
<p>
  <app-health-bar (click)="onHealthClick()" [currentHealth]="charService.selectedChar.currentHealth"
                  [maxHealth]="this.charService.finalWounds">

  </app-health-bar>
</p>
<h3>Stats</h3>
<mat-grid-list cols="3" gutterSize="4px" rowHeight="45px">
  <mat-grid-tile *ngFor="let tracker of charService.selectedChar.trackers;">
    <app-stat-card [(value)]="tracker.value" [name]="tracker.name"></app-stat-card>
  </mat-grid-tile>
</mat-grid-list>

<h3>Weapons</h3>

<div class="attack-list">
  <app-attack-element *ngFor="let w of charService.selectedChar.weapons; first as isFirst"
                      [(damage)]="w.damage" [(hit)]="w.hit" [displayLabel]="isFirst" [name]="w.name">
  </app-attack-element>
</div>
