<h3>Health</h3>
<p>
  <app-health-bar (click)="onHealthClick()" [currentHealth]="debugHealth" [maxHealth]="15"></app-health-bar>
</p>
<h3>Stats</h3>
<mat-grid-list cols="3" gutterSize="4px" rowHeight="45px">
  <mat-grid-tile>
    <app-stat-card name="Weapon">{{ charService.selectedChar.skill.weapon }}</app-stat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-stat-card name="Ballistic">30</app-stat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-stat-card name="Attacks">1</app-stat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-stat-card name="Movement">3 m</app-stat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-stat-card name="Charge Attack">6 m</app-stat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-stat-card name="Dash">9 m</app-stat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-stat-card name="Fate Points">1</app-stat-card>
  </mat-grid-tile>
</mat-grid-list>

<h3>Weapons</h3>

<div class="attack-list">
  <app-attack-element [displayLabel]="true" damage="1d10 + 5" hit="47" name="1H Hammer"></app-attack-element>
  <app-attack-element damage="1d10" hit="47" name="2H Hammer"></app-attack-element>
  <app-attack-element damage="1d10" hit="47" name="Schild"></app-attack-element>

</div>
