.attack-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

app-stat-card {
  flex-grow: 1;
}

.tracker-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}
