<h3>Health</h3>
<p>
  <app-health-bar (click)="onHealthClick()" [currentHealth]="charService.selectedChar.currentHealth"
                  [maxHealth]="this.charService.finalWounds">

  </app-health-bar>
</p>

<div class="headline">
  <h3>Stats</h3>
  <button mat-icon-button>
    <mat-icon>add</mat-icon>
  </button>
</div>

<div class="tracker-container">
  <app-stat-card *ngFor="let tracker of charService.selectedChar.trackers;" [(value)]="tracker.value"
                 [name]="tracker.name" [numeric]="false"></app-stat-card>
</div>


<div class="headline">
  <h3>Weapons</h3>
  <button mat-icon-button>
    <mat-icon>add</mat-icon>
  </button>
</div>

<div class="attack-list">
  <app-attack-element *ngFor="let w of charService.selectedChar.weapons; first as isFirst"
                      [(damage)]="w.damage" [(hit)]="w.hit" [displayLabel]="isFirst" [name]="w.name">
  </app-attack-element>
</div>
