.attack-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

app-stat-card {
  flex-grow: 1;
}

.tracker-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}
