@import "src/assets/_variables.scss";

.card-title {
  display: flex;
  font-size: 11px;
}

.name-card {
  display: flex;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.53);
  justify-content: start;
  align-items: center;
  border-radius: 2px;
  min-height: $data-card-height;

  > span {
    padding: 0 0.5em;
  }
}
